<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Anor</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>   
        <li><a href="/products/delivery">Delivery</a></li>
        <li><a href="/products" class="nav_card">Shopping card <span class="count_fav">{{card.count}}</span></a></li>
        <li><a href="collapsible.html">About us</a></li>
      </ul>
    </div>
  </div>
</nav>