<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Anor</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>   
        <li><a href="/products">Products</a></li>
        <li><a href="/products">Shopping card</a></li>
        <li><a href="collapsible.html">About us</a></li>
      </ul>
    </div>
  </div>
</nav>