*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.card_content{
    height: 208px;
}

.card-title{
    height: 140px;
}

.card-action{
    display: flex;
    justify-content: space-between;
}