<div class="container">
  <h1>Shaftoli.uz ga Xush kelibsiz</h1>

  <div class="row">
    {{#each pro}}
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src={{img}} />
          </div>
          <div class="card-content card_content">
            <span class="card-title">{{name}}</span>
            <p><span class="card_price">{{price}}</span></p>
          </div>
          <div class="card-action">
            <div class="card_action">
              <form action="/products/add" method="post">
                <input type="hidden" name="id" value="{{id}}" >
                <button type="submit" class="btn_sub">корзине</button>
            </form>
            </div> 
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>