<div class="container">
  <h1>Shaftoli.uz ga Xush kelibsiz</h1>

  <div class="row">
    {{#each card}}
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src={{img}} />
          </div>
          <div class="card-content card_content">
            <span class="card-title">{{name}}</span>
            <p class="card_price">{{price}}</p>
          </div>
          <div class="card-action">
            <form action="/products/add" method="post">
                <input type="hidden" name="id" value="{{id}}" >
                <button type="submit">корзине</button>
            </form>
            <a href="#">Избранные</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>